:root {
  /* Färgskala från README.md */
  --color-bg: #556B2F;
  --color-text-main: #C6D870;
  --color-text-secondary: #EFF5D2;
  --color-positive: #8FA31E;
  --color-neutral: #264D26;
  --color-negative: #6B8E23;
  --color-button: #896A58;
  --color-button-text: #E6F2E6;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  background: var(--color-bg);
  color: var(--color-text-main);
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', 'Arial', sans-serif;
}

h3,
label {
  color: var(--color-text-secondary);
}

button,
input[type="checkbox"] {
  background: var(--color-button);
  color: var(--color-button-text);
  border: none;
  border-radius: 6px;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  font-weight: bold;
  margin-right: 0.5rem;
  transition: background 0.2s;
}

button:hover,
input[type="checkbox"]:hover {
  background: var(--color-neutral);
}

th {
  color: var(--color-text-secondary);
}

td {
  color: var(--color-text-main);
}

.table-neutral {
  background: var(--color-neutral);
}

.table-positive {
  color: var(--color-positive);
}

.table-negative {
  color: var(--color-negative);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 4.5rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}